Repository VM-Chinese-translate-group/Roguelike-Adventures-and-Dungeons, pull requests merged in 2023-07, with the labels that each got.

#83 地牢战术dungeontacticsFTB任务部分
  config/ftbquests/normal/chapters/241806e9/0243cb25.snbt
  config/ftbquests/normal/chapters/241806e9/02c7f06c.snbt
  config/ftbquests/normal/chapters/241806e9/053251bb.snbt
  config/ftbquests/normal/chapters/241806e9/0639fb43.snbt
  config/ftbquests/normal/chapters/241806e9/0c99b564.snbt
  config/ftbquests/normal/chapters/241806e9/0d9f8fc3.snbt
  config/ftbquests/normal/chapters/241806e9/10c01bfa.snbt
  config/ftbquests/normal/chapters/241806e9/147b4c86.snbt
  config/ftbquests/normal/chapters/241806e9/1b351183.snbt
  config/ftbquests/normal/chapters/241806e9/1bfe17b7.snbt
  config/ftbquests/normal/chapters/241806e9/209bb8d3.snbt
  config/ftbquests/normal/chapters/241806e9/30bf1013.snbt
  config/ftbquests/normal/chapters/241806e9/31bf2fad.snbt
  config/ftbquests/normal/chapters/241806e9/34e9d7c6.snbt
  config/ftbquests/normal/chapters/241806e9/4119c49b.snbt
  config/ftbquests/normal/chapters/241806e9/4ba84564.snbt
  config/ftbquests/normal/chapters/241806e9/4d7ae2a8.snbt
  config/ftbquests/normal/chapters/241806e9/5668f335.snbt
  config/ftbquests/normal/chapters/241806e9/58940277.snbt
  config/ftbquests/normal/chapters/241806e9/5eae0df7.snbt
  config/ftbquests/normal/chapters/241806e9/5fb1d7dc.snbt
  config/ftbquests/normal/chapters/241806e9/645b66dc.snbt
  config/ftbquests/normal/chapters/241806e9/780122ec.snbt
  config/ftbquests/normal/chapters/241806e9/79f6db25.snbt
  config/ftbquests/normal/chapters/241806e9/7dca8a52.snbt
  config/ftbquests/normal/chapters/241806e9/967dee28.snbt
  config/ftbquests/normal/chapters/241806e9/98e01f71.snbt
  config/ftbquests/normal/chapters/241806e9/a4636105.snbt
  config/ftbquests/normal/chapters/241806e9/b326d996.snbt
  config/ftbquests/normal/chapters/241806e9/bbb78a8b.snbt
  config/ftbquests/normal/chapters/241806e9/bcfb614e.snbt
  config/ftbquests/normal/chapters/241806e9/c2975a8f.snbt
  config/ftbquests/normal/chapters/241806e9/c499e1c8.snbt
  config/ftbquests/normal/chapters/241806e9/c7d1d06d.snbt
  config/ftbquests/normal/chapters/241806e9/c8fa0b1b.snbt
  config/ftbquests/normal/chapters/241806e9/caba29d9.snbt
  config/ftbquests/normal/chapters/241806e9/cbcbc28b.snbt
  config/ftbquests/normal/chapters/241806e9/chapter.snbt
  config/ftbquests/normal/chapters/241806e9/dc061ef3.snbt
  config/ftbquests/normal/chapters/241806e9/dedc919c.snbt
  config/ftbquests/normal/chapters/241806e9/e81a7ba3.snbt
  config/ftbquests/normal/chapters/241806e9/e9e10e44.snbt
  config/ftbquests/normal/chapters/241806e9/ffdb1cd1.snbt
Labels: ftbquest, need review, 1.52

#75 奇械学
  resources/mystgears/lang/zh_cn.lang
Labels: need review, resource, 1.52

#96 汉化检测更新模组
  README.md
  config/vmtranslationupdate.cfg
  mods/vmtranslationupdate-1.2.jar
Labels: need review, 1.52

#89 混沌之地
  config/ftbquests/normal/chapters/9fd29583/0760d96d.snbt
  config/ftbquests/normal/chapters/9fd29583/0832704d.snbt
  config/ftbquests/normal/chapters/9fd29583/137d9ac2.snbt
  config/ftbquests/normal/chapters/9fd29583/17b1c4d4.snbt
  config/ftbquests/normal/chapters/9fd29583/213d433f.snbt
  config/ftbquests/normal/chapters/9fd29583/27e30a65.snbt
  config/ftbquests/normal/chapters/9fd29583/2d4b867b.snbt
  config/ftbquests/normal/chapters/9fd29583/32a6b785.snbt
  config/ftbquests/normal/chapters/9fd29583/4551fdb8.snbt
  config/ftbquests/normal/chapters/9fd29583/4713d71e.snbt
  config/ftbquests/normal/chapters/9fd29583/51165e68.snbt
  config/ftbquests/normal/chapters/9fd29583/5bf07a97.snbt
  config/ftbquests/normal/chapters/9fd29583/5d09109d.snbt
  config/ftbquests/normal/chapters/9fd29583/6f009e53.snbt
  config/ftbquests/normal/chapters/9fd29583/860a4a95.snbt
  config/ftbquests/normal/chapters/9fd29583/92289dd9.snbt
  config/ftbquests/normal/chapters/9fd29583/9416f4dd.snbt
  config/ftbquests/normal/chapters/9fd29583/9ec8ddf4.snbt
  config/ftbquests/normal/chapters/9fd29583/9fe7773e.snbt
  config/ftbquests/normal/chapters/9fd29583/acb2f772.snbt
  config/ftbquests/normal/chapters/9fd29583/bfc442ab.snbt
  config/ftbquests/normal/chapters/9fd29583/c214315f.snbt
  config/ftbquests/normal/chapters/9fd29583/ce76f5de.snbt
  config/ftbquests/normal/chapters/9fd29583/chapter.snbt
  config/ftbquests/normal/chapters/9fd29583/d01b8d01.snbt
  config/ftbquests/normal/chapters/9fd29583/d7ca76bc.snbt
  config/ftbquests/normal/chapters/9fd29583/d93ec9a8.snbt
  config/ftbquests/normal/chapters/9fd29583/db9b66d6.snbt
  config/ftbquests/normal/chapters/9fd29583/dec8241c.snbt
  config/ftbquests/normal/chapters/9fd29583/df4d9696.snbt
  config/ftbquests/normal/chapters/9fd29583/efb2187f.snbt
  config/ftbquests/normal/chapters/9fd29583/fc0eef77.snbt
  config/ftbquests/normal/chapters/9fd29583/fd88599b.snbt
Labels: ftbquest, need review, 1.52

#88 实用设备章节（代sine）
  config/ftbquests/normal/chapters/9dc9f76e/b325bb25.snbt
  config/ftbquests/normal/chapters/d26f9af1/0d948980.snbt
  config/ftbquests/normal/chapters/d26f9af1/0fb39997.snbt
  config/ftbquests/normal/chapters/d26f9af1/0ff73cbe.snbt
  config/ftbquests/normal/chapters/d26f9af1/119147ce.snbt
  config/ftbquests/normal/chapters/d26f9af1/15634f91.snbt
  config/ftbquests/normal/chapters/d26f9af1/27d0ecf2.snbt
  config/ftbquests/normal/chapters/d26f9af1/30fdaf73.snbt
  config/ftbquests/normal/chapters/d26f9af1/33ba6202.snbt
  config/ftbquests/normal/chapters/d26f9af1/3cee9c81.snbt
  config/ftbquests/normal/chapters/d26f9af1/42bdbf87.snbt
  config/ftbquests/normal/chapters/d26f9af1/44ce0114.snbt
  config/ftbquests/normal/chapters/d26f9af1/47dfe91d.snbt
  config/ftbquests/normal/chapters/d26f9af1/5080a330.snbt
  config/ftbquests/normal/chapters/d26f9af1/70007359.snbt
  config/ftbquests/normal/chapters/d26f9af1/7171a997.snbt
  config/ftbquests/normal/chapters/d26f9af1/74cb22b4.snbt
  config/ftbquests/normal/chapters/d26f9af1/80f9d45b.snbt
  config/ftbquests/normal/chapters/d26f9af1/81b0d0f9.snbt
  config/ftbquests/normal/chapters/d26f9af1/9136f94d.snbt
  config/ftbquests/normal/chapters/d26f9af1/b7826530.snbt
  config/ftbquests/normal/chapters/d26f9af1/c6a465c7.snbt
  config/ftbquests/normal/chapters/d26f9af1/c89b07ed.snbt
  config/ftbquests/normal/chapters/d26f9af1/chapter.snbt
  config/ftbquests/normal/chapters/d26f9af1/d27134fe.snbt
  config/ftbquests/normal/chapters/d26f9af1/d2bae30e.snbt
  config/ftbquests/normal/chapters/d26f9af1/d7d6f1ad.snbt
  config/ftbquests/normal/chapters/d26f9af1/d98125c7.snbt
  config/ftbquests/normal/chapters/d26f9af1/ebcddcbe.snbt
  config/ftbquests/normal/chapters/d26f9af1/f402eb84.snbt
  config/ftbquests/normal/chapters/d26f9af1/f92a8def.snbt
Labels: ftbquest, in progress, need review, 1.52

#95 删除无用文件
  config/tips.cfg
  resources/ancientspellcraft/lang/ru_ru.lang
  resources/ancientspellcraft/lang/zh_tw.lang
  resources/ancientspellcraft/lang/注意(必看).txt
Labels: need review, resource, 1.52

#93 次元门ftb任务
  config/ftbquests/normal/chapters/58e87472/00e63368.snbt
  config/ftbquests/normal/chapters/58e87472/1c03f57f.snbt
  config/ftbquests/normal/chapters/58e87472/29983f3a.snbt
  config/ftbquests/normal/chapters/58e87472/2fcebb1d.snbt
  config/ftbquests/normal/chapters/58e87472/32b4735a.snbt
  config/ftbquests/normal/chapters/58e87472/3d0a3f7b.snbt
  config/ftbquests/normal/chapters/58e87472/934ad299.snbt
  config/ftbquests/normal/chapters/58e87472/aa5c2153.snbt
  config/ftbquests/normal/chapters/58e87472/bd98c907.snbt
  config/ftbquests/normal/chapters/58e87472/chapter.snbt
  config/ftbquests/normal/chapters/58e87472/e1eb55c6.snbt
  config/ftbquests/normal/chapters/58e87472/ef54081c.snbt
  config/ftbquests/normal/chapters/58e87472/f5ba5fd8.snbt
Labels: ftbquest, need review, 1.52

#98 presets汉化
  config/presets/dsurround_emojis.presets
  config/presets/dsurround_ponies.presets
  config/presets/dsurround_skyblock.presets
  config/presets/dsurround_turnalloff.presets
  config/presets/presets.cfg
  config/presets/presets_level0.presets
  config/presets/presets_level1.presets
  config/presets/presets_level2.presets
  config/presets/presets_level3.presets
Labels: need review, 1.52

#91 午夜任务
  config/ftbquests/normal/chapters/73d395fe/018f1c8f.snbt
  config/ftbquests/normal/chapters/73d395fe/03bff484.snbt
  config/ftbquests/normal/chapters/73d395fe/0f8070a4.snbt
  config/ftbquests/normal/chapters/73d395fe/10837b3b.snbt
  config/ftbquests/normal/chapters/73d395fe/13a1a007.snbt
  config/ftbquests/normal/chapters/73d395fe/154c18e8.snbt
  config/ftbquests/normal/chapters/73d395fe/4d2437ea.snbt
  config/ftbquests/normal/chapters/73d395fe/500c1c45.snbt
  config/ftbquests/normal/chapters/73d395fe/54330e0a.snbt
  config/ftbquests/normal/chapters/73d395fe/6d1e64bf.snbt
  config/ftbquests/normal/chapters/73d395fe/6e7e16b8.snbt
  config/ftbquests/normal/chapters/73d395fe/6fa7bd4a.snbt
  config/ftbquests/normal/chapters/73d395fe/7cba43a3.snbt
  config/ftbquests/normal/chapters/73d395fe/7ce4e664.snbt
  config/ftbquests/normal/chapters/73d395fe/82c6eb16.snbt
  config/ftbquests/normal/chapters/73d395fe/9dc0f67f.snbt
  config/ftbquests/normal/chapters/73d395fe/b91d4d0e.snbt
  config/ftbquests/normal/chapters/73d395fe/be155750.snbt
  config/ftbquests/normal/chapters/73d395fe/c3108b7c.snbt
  config/ftbquests/normal/chapters/73d395fe/chapter.snbt
  config/ftbquests/normal/chapters/73d395fe/d211fcea.snbt
  config/ftbquests/normal/chapters/73d395fe/d70f35ee.snbt
  config/ftbquests/normal/chapters/73d395fe/da5cfcbe.snbt
Labels: ftbquest, need review, 1.52

#86 mia汉化（代crim）
  resources/mia/lang/zh_cn.lang
Labels: need review, resource, 1.52

#101 fancymenu图片主菜单汉化，删除路径错误的fancymenu文件
  config/fancymenu/changes.png
  config/fancymenu/config.txt
  config/fancymenu/customization/RAD1.txt
  config/fancymenu/customization/menuESC.txt
  config/fancymenu/logo.png
  config/fancymenu/rad1.53highlights2.png
  config/fancymenu/rad2-promo.png
  config/fancymenu/radadv.png
  config/vmtranslationupdate.cfg
  config/将config文件放置在此处
Labels: need review, 1.52

#100 说明
  config/Titles/archive.json
  config/ftbquests/normal/chapters/9fd29583/0760d96d.snbt
  config/ftbquests/normal/chapters/9fd29583/0832704d.snbt
  config/ftbquests/normal/chapters/9fd29583/137d9ac2.snbt
  config/ftbquests/normal/chapters/9fd29583/17b1c4d4.snbt
  config/ftbquests/normal/chapters/9fd29583/213d433f.snbt
  config/ftbquests/normal/chapters/9fd29583/27e30a65.snbt
  config/ftbquests/normal/chapters/9fd29583/2d4b867b.snbt
  config/ftbquests/normal/chapters/9fd29583/32a6b785.snbt
  config/ftbquests/normal/chapters/9fd29583/4551fdb8.snbt
  config/ftbquests/normal/chapters/9fd29583/4713d71e.snbt
  config/ftbquests/normal/chapters/9fd29583/51165e68.snbt
  config/ftbquests/normal/chapters/9fd29583/5bf07a97.snbt
  config/ftbquests/normal/chapters/9fd29583/5d09109d.snbt
  config/ftbquests/normal/chapters/9fd29583/6f009e53.snbt
  config/ftbquests/normal/chapters/9fd29583/860a4a95.snbt
  config/ftbquests/normal/chapters/9fd29583/92289dd9.snbt
  config/ftbquests/normal/chapters/9fd29583/9416f4dd.snbt
  config/ftbquests/normal/chapters/9fd29583/9ec8ddf4.snbt
  config/ftbquests/normal/chapters/9fd29583/9fe7773e.snbt
  config/ftbquests/normal/chapters/9fd29583/acb2f772.snbt
  config/ftbquests/normal/chapters/9fd29583/bfc442ab.snbt
  config/ftbquests/normal/chapters/9fd29583/c214315f.snbt
  config/ftbquests/normal/chapters/9fd29583/ce76f5de.snbt
  config/ftbquests/normal/chapters/9fd29583/chapter.snbt
  config/ftbquests/normal/chapters/9fd29583/d01b8d01.snbt
  config/ftbquests/normal/chapters/9fd29583/d7ca76bc.snbt
  config/ftbquests/normal/chapters/9fd29583/d93ec9a8.snbt
  config/ftbquests/normal/chapters/9fd29583/db9b66d6.snbt
  config/ftbquests/normal/chapters/9fd29583/dec8241c.snbt
  config/ftbquests/normal/chapters/9fd29583/df4d9696.snbt
  config/ftbquests/normal/chapters/9fd29583/efb2187f.snbt
  config/ftbquests/normal/chapters/9fd29583/fc0eef77.snbt
  config/ftbquests/normal/chapters/9fd29583/fd88599b.snbt
  resourcepacks/pack.mcmeta
  resources/tombstone/lang/en_US.lang
  resources/tombstone/lang/zh_TW.lang
  resources/tombstone/lang/中文语言文件不全
  推荐加上NoLocalizationConflict
Labels: ftbquest, need review, resource, 1.52
