Repository VM-Chinese-translate-group/Roguelike-Adventures-and-Dungeons, pull requests merged in 2023-03, with the labels that each got.

#64 landsoficaria
  resources/landsoficaria/lang/zh_cn.lang
Labels: need review, resource, 1.52

#68 Update README.md
  README.md
Labels: ready to merge, resource

#70 Update Self-Review
  .github/boring-cyborg.yml
  .github/self-approval-pull-request.yml
  .github/workflows/crowdin-author.yml
Labels: .github, need review, ready to merge, resource

#44 ancientspellcraft
  resources/ancientspellcraft/lang/zh_cn.lang
Labels: need review, resource, 1.52

#56 dimdoors
  resources/dimdoors/lang/en_US.lang
Labels: need review, resource, 1.52

#73 改标点
  resources/dimdoors/lang/en_US.lang
  resources/dimdoors/lang/zh_CN.lang
  resources/dimdoors/英文文件比中文多了很多，自行对照
  scripts/占位文件.zs
Labels: ready to merge, resource, 1.52

#74 交错次元
  config/ftbquests/normal/chapters/1ad8e9e8/00afcca4.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/00e136e8.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/0342b95d.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/03ce9233.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/0400d4aa.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/09de7548.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/0c5c67ac.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/0c99ec02.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/0d8071fd.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/18b02480.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/1a413574.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/1b848e77.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/1d081704.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/20cc6bb5.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/20f1c913.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/24a045ea.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/24b3f982.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/26c0736a.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/26cdab9a.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/33e85265.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/3c192351.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/4d7adec6.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/4d9f9cd2.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/52f20605.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/56b1064b.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/5d62a11b.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/68ddfff1.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/6d01a5ab.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/6f08d32b.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/6fe38499.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7ad54635.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7b87dcde.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7b8d9fab.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7c1453e1.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7d21147d.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/7d3ddf3e.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/80d20c5e.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/83a150ed.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/8fb8b90a.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/94cad03f.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/9cfbbad3.snbt
  config/ftbquests/normal/chapters/1ad8e9e8/9e2c4863.snbt
Labels: ftbquest, need review, 1.52
